@inherits AsyncOwningComponentBase<ImageEditorService>

<div class="image-editor-container">
    <div class="image-editor-section image-editor-section-large">
        @if (IsLoading)
        {
            <div class="loader">
                <div class="loadText">
                    <h4>@LoadText</h4>
                </div>
            </div>
        }
        @if (!Editing)
        {
            <div class="preview">
                <img src="@PreviewUrl" style="width:100%" />
            </div>
        }
        <div class="editor-container">
            <canvas @ref="EditorCanvas" touch-action="none"></canvas>
        </div>
    </div>
    @if (Editing)
    {
        <div class="image-editor-section image-editor-section-small image-editor-section-edit">
            @if (ShowEditControls)
            {
                <div class="image-editor-toolbar" role="toolbar" aria-label="Image file toolbar">
                    <div class="image-editor-toolbar-group" role="group" aria-label="History group">
                        <button type="button" class="image-editor-button" @onclick="UndoAsync" aria-label="Undo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                            </svg>
                        </button>
                        <button type="button" class="image-editor-button" @onclick="RedoAsync" aria-label="Redo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                            </svg>
                        </button>
                    </div>
                    <div class="image-editor-toolbar-group" role="group" aria-label="Save group">
                        @if (GetObjUrlCallback is not null || SaveJsonCallback is not null)
                        {
                            <button type="button" class="image-editor-button" @onclick="SaveImageAsync" aria-label="Save">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                                </svg>
                            </button>
                        }
                        <button type="button" class="image-editor-button" @onclick="DownloadImageAsync" aria-label="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                            </svg>
                        </button>
                        <button type="button" class="image-editor-button" @onclick="CancelEditAsync" aria-label="Cancel Edit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="image-editor-toolbar" style="min-width: 280px" role="toolbar" aria-label="Image object toolbar">
                    <div class="image-editor-toolbar-group" role="group" aria-label="Clipboard group">
                        <button type="button" class="image-editor-button" @onclick="CopyAsync" aria-label="Copy">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                            </svg>
                        </button>
                        <button type="button" class="image-editor-button" @onclick="CutAsync" aria-label="Cut">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61 3.5 3.5zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zm7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
                            </svg>
                        </button>
                        <button type="button" class="image-editor-button" @onclick="PasteAsync" aria-label="Paste">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                            </svg>
                        </button>
                        <button type="button" class="image-editor-button" @onclick="DeleteAsync" aria-label="Delete">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                        </div>
                    <div class="image-editor-toolbar-group" role="group" aria-label="Layer group">
                        <button type="button" class="image-editor-button" @onclick="BringToFrontAsync" aria-label="Bring to Front">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm5 10v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v5a2 2 0 0 1-2 2H5z" />
                            </svg>
                        </button>
                        <button type="button" class="image-editor-button" @onclick="BringForwardAsync" aria-label="Bring Forward">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8.354.146a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708l1 1a.5.5 0 0 0 .708 0L7 4.207V12H1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H9V4.207l.646.647a.5.5 0 0 0 .708 0l1-1a.5.5 0 0 0 0-.708l-3-3z" />
                                <path d="M1 7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h4.5a.5.5 0 0 0 0-1H1V8h4.5a.5.5 0 0 0 0-1H1zm9.5 0a.5.5 0 0 0 0 1H15v2h-4.5a.5.5 0 0 0 0 1H15a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1h-4.5z" />
                            </svg>
                        </button>
                        <button type="button" class="image-editor-button" @onclick="SendBackwardsAsync" aria-label="Send Backward">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8.354 15.854a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708l1-1a.5.5 0 0 1 .708 0l.646.647V4H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H9v7.793l.646-.647a.5.5 0 0 1 .708 0l1 1a.5.5 0 0 1 0 .708l-3 3z" />
                                <path d="M1 9a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4.5a.5.5 0 0 1 0 1H1v2h4.5a.5.5 0 0 1 0 1H1zm9.5 0a.5.5 0 0 1 0-1H15V6h-4.5a.5.5 0 0 1 0-1H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4.5z" />
                            </svg>
                        </button>
                        <button type="button" class="image-editor-button" @onclick="SendToBackAsync" aria-label="Send to Back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="image-editor-row image-editor-row-center">
                    <div class="image-editor-section image-editor-section-auto">
                        <select class="image-editor-select" aria-label="Drawing Mode" @onchange="SetDrawingModeAsync">
                            @foreach (var value in Enum.GetValues<DrawingMode>())
                            {
                                <option value="@((int)value)" selected="@(DrawingMode == value)">@(value.ToCharacter())</option>
                            }
                        </select>
                    </div>
                    <div class="image-editor-section image-editor-section-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z" />
                        </svg>
                    </div>
                    <div class="image-editor-section">
                        <input id="strokeWidth" type="range" class="image-editor-range" min="1" max="100" step="0.1" aria-label="Stroke Width" @bind-value="DisplayStrokeWidth" @bind-value:event="oninput" @onchange="SetStrokeWidthAsync">
                    </div>
                    <label for="strokeWidth" class="image-editor-section image-editor-section-label">@(DisplayStrokeWidth.ToString("N1"))</label>
                </div>
                <div class="image-editor-row image-editor-row-center">
                    @if (StrokeColor is null)
                    {
                        <div class="image-editor-section image-editor-section-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z" />
                            </svg>
                        </div>
                    }
                    else
                    {
                        <div class="image-editor-section image-editor-section-auto" style="color: @StrokeColor">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            </svg>
                        </div>
                    }
                    <div class="col-2">
                        <input type="color" class="form-control form-control-color mx-auto" aria-label="Stroke Color" value="@(DisplayStrokeColor)" @onchange="SetStrokeColorAsync">
                    </div>
                    <div class="image-editor-section image-editor-section-auto">
                        <button type="button" class="image-editor-button" @onclick="ClearStrokeColorAsync" aria-label="Clear Stroke Color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                    @if (FillColor is null)
                    {
                        <div class="image-editor-section image-editor-section-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z" />
                            </svg>
                        </div>
                    }
                    else
                    {
                        <div class="image-editor-section image-editor-section-auto" style="color: @FillColor">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8" />
                            </svg>
                        </div>
                    }
                    <div class="col-2">
                        <input type="color" class="image-editor-color" aria-label="Fill Color" value="@(DisplayFillColor)" @onchange="SetFillColorAsync">
                    </div>
                    <div class="image-editor-section image-editor-section-auto">
                        <button type="button" class="image-editor-button" @onclick="ClearFillColorAsync" aria-label="Clear Fill Color">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                </div>
                @if (DrawingMode == DrawingMode.Text)
                {
                    <div class="image-editor-row image-editor-row-baseline">
                        <div class="image-editor-section image-editor-section-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M12.258 3H3.747l-.082 2.46h.478c.26-1.544.76-1.783 2.694-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.43.013c1.935.062 2.434.301 2.694 1.846h.479L12.258 3z" />
                            </svg>
                        </div>
                        <div class="image-editor-section">
                            <input type="text" class="image-editor-input" id="font" placeholder="Enter a Google Font name" aria-label="Font" aria-describedby="fontHelp" value="@Font" @onchange="SetFontAsync">
                            <div id="fontHelp" class="image-editor-help">See <a href="https://fonts.google.com/">Google Fonts</a>.</div>
                        </div>
                    </div>
                }
                @if (ShowAdvanced)
                {
                    <div class="image-editor-singlerow">
                        <button type="button" class="image-editor-button" style="width: 100%" @onclick="@(() => ShowAdvanced = false)" aria-label="Hide Advanced Controls">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                            </svg>
                        </button>
                    </div>
                    <div class="image-editor-row">
                        <div class="image-editor-section image-editor-section-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M0 6a6 6 0 1 1 12 0A6 6 0 0 1 0 6z" />
                                <path d="M12.93 5h1.57a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1.57a6.953 6.953 0 0 1-1-.22v1.79A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-1.79c.097.324.17.658.22 1z" />
                            </svg>
                        </div>
                        <div class="col">
                            <select class="image-editor-select" aria-label="Line Cap" @onchange="SetLineCapAsync">
                                @foreach (var value in Enum.GetValues<StrokeLineCap>())
                                {
                                    <option value="@((int)value)" selected="@(StrokeLineCap == value)">@(value.ToCharacter())</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="image-editor-row image-editor-row-center">
                        <div class="image-editor-section image-editor-section-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                            </svg>
                        </div>
                        <div class="image-editor-section image-editor-section-auto">1</div>
                        <div class="image-editor-section">
                            <input type="range" class="image-editor-range" id="strokeDash1" min="0" max="100" step="0.1" aria-label="Stroke Dash 1" @bind-value="DisplayStrokeDash1" @bind-value:event="oninput" @onchange="SetStrokeDash1Async">
                        </div>
                        <label for="strokeDash1" class="image-editor-section-label">@(DisplayStrokeDash1.ToString("N1"))</label>
                    </div>
                    <div class="image-editor-row image-editor-row-center">
                        <div class="image-editor-section image-editor-section-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                            </svg>
                        </div>
                        <div class="image-editor-section image-editor-section-auto">2</div>
                        <div class="image-editor-section">
                            <input type="range" class="image-editor-range" id="strokeDash2" min="0" max="100" step="0.1" aria-label="Stroke Dash 2" @bind-value="DisplayStrokeDash2" @bind-value:event="oninput" @onchange="SetStrokeDash2Async">
                        </div>
                        <label for="strokeDash2" class="image-editor-section-label">@(DisplayStrokeDash2.ToString("N1"))</label>
                    </div>
                    <div class="image-editor-row image-editor-row-center">
                        @if (BorderColor is null)
                        {
                            <div class="image-editor-section image-editor-section-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                    <path d="M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </div>
                        }
                        else
                        {
                            <div class="image-editor-section image-editor-section-auto" style="color: @BorderColor">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                </svg>
                            </div>
                        }
                        <div class="image-editor-section image-editor-section-short">
                            <input type="color" class="image-editor-color" aria-label="Border Color" value="@(DisplayBorderColor)" @onchange="SetBorderColorAsync">
                        </div>
                        <div class="image-editor-section image-editor-section-auto">
                            <button type="button" class="image-editor-button" @onclick="ClearBorderColorAsync" aria-label="Clear Border Color">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="image-editor-row image-editor-row-center">
                        <div class="image-editor-section image-editor-section-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            </svg>
                        </div>
                        <div class="image-editor-section">
                            <input type="range" class="image-editor-range" id="borderWidth" min="0" max="0.25" step="0.01" aria-label="Border Width" @bind-value="DisplayBorderPercent" @bind-value:event="oninput" @onchange="SetBorderPercentAsync">
                        </div>
                        <label for="borderWidth" class="image-editor-section-label">@(DisplayBorderPercent.ToString("P0"))</label>
                    </div>
                }
                else
                {
                    <div class="image-editor-singlerow">
                        <button type="button" class="image-editor-button" style="width: 100%" @onclick="@(() => ShowAdvanced = true)" aria-label="Show Advanced Controls">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </button>
                    </div>
                }
            }
            @if (EditContent is not null)
            {
                <div class="image-editor-singlerow">
                    @EditContent
                </div>
            }
            @if (ChildContent is not null)
            {
                <div class="image-editor-singlerow">
                    @ChildContent
                </div>
            }
        </div>
    }
    else
    {
        <div class="image-editor-section image-editor-section-small image-editor-section-nonedit">
            @if (ShowEditButton)
            {
                <div class="image-editor-singlerow">
                    <button class="image-editor-button" @onclick="BeginEditAsync">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
                </div>
            }
            @if (PreviewContent is not null)
            {
                <div class="image-editor-singlerow">
                    @PreviewContent
                </div>
            }
            @if (ChildContent is not null)
            {
                <div class="image-editor-singlerow">
                    @ChildContent
                </div>
            }
        </div>
    }
</div>
